<div class="px-5">
    <div class="row">
        <div class="col-3 border-round" *ngIf="isShowFolderView">
            <div class="d-grid">
                <span><strong class="font-x-large">Folder View</strong></span>
            </div>
            <ul class="list-group pt-3" *ngIf="extractedData.length > 0">
                <li class="list-group-item hand-cursor folder-view-list" *ngFor="let data of extractedData"
                    (click)="onClickFolder(data);" [ngClass]="currentTab === data?.folder_name ? 'active-class' : ''">
                    <span>{{data?.folder_name}}</span>
                </li>
            </ul>
        </div>
        <div class="" [ngClass]="extractedData.length > 0 ? 'col-9' : 'col-12'" *ngIf="!isShowContentData">
            <div class="card text-center my-5">
                <div class="card-header">
                    Email Extractor and Header Analysis
                </div>
                <div class="card-body">
                    <h5 class="card-title">Email PST File Extractor</h5>
                    <p class="card-text">This will extract input email pst file for forensic analysis using python
                        server</p>
                    <div class="row">
                        <div class="align-items-center col-12 d-flex justify-content-center ms-5 ps-5">
                            <input type="file" id="pstFile" name="pstFile" accept=".pst"
                                (change)="onSelectPstFile($event)" />
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary my-4" (click)="getData()">Extract PST File</a>
                </div>
                <div class="card-footer text-muted">
                    Extracted result will be shown below
                </div>
            </div>
        </div>
        <div class="col-9 table-height" *ngIf="isShowContentData && contactsArray.length == 0">
            <div class="input-group mb-3">
                <span>
                    <label class="fw-semibold ml-2 pt-1">Search by keyword : </label>
                </span>
                <input type="search" class="form-control ms-3 ps-2" placeholder="Search with any keyword"
                    aria-label="Search by" aria-describedby="basic-addon1" [(ngModel)]="searchWord"
                    (ngModelChange)="onChangeSearch()">
            </div>
            <table class="table table-striped table-bordered" *ngIf="messageArray.length > 0;else noData">
                <thead class="table-header">
                    <tr>
                        <th width="5%;" scope="col">From</th>
                        <th width="5%;" scope="col">To</th>
                        <th width="5%;" scope="col" style="width: 8%">Sent Date</th>
                        <th width="5%;" scope="col" style="width: 8%">Received Date</th>
                        <th width="5%;" scope="col">Subject</th>
                        <th width="5%;" scope="col">Cc</th>
                        <th width="5%;" scope="col">Sender Name</th>
                        <th width="5%;" scope="col">Message Preview</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let msg of messageArray; let index=index">
                        <td width="5%;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="hand-cursor"
                            (click)=" onClickTable(msg, index)">
                            {{msg.sender_email}}</td>
                        <td width="5%;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="hand-cursor"
                            (click)=" onClickTable(msg, index)">
                            {{msg.to}}</td>
                        <td width="8%;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="hand-cursor"
                            (click)=" onClickTable(msg, index)">
                            {{getSentReceivedTimes('sentTime', msg?.message_delivery_data?.headers)}}
                        </td>
                        <td width="8%;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="hand-cursor"
                            (click)=" onClickTable(msg, index)">
                            {{getSentReceivedTimes('ReceivedTime', msg?.message_delivery_data?.headers)}}
                        </td>
                        <td width="5%;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="hand-cursor"
                            (click)="onClickTable(msg, index)">
                            {{msg.subject}}</td>
                        <td width="5%;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="hand-cursor"
                            (click)=" onClickTable(msg, index)">
                            {{msg.cc}}</td>
                        <td width="5%;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="hand-cursor"
                            (click)=" onClickTable(msg, index)">
                            {{msg.sender_name}}</td>
                        <td>{{msg.preview_text}}<span>...</span></td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noData>
                <div class="card">
                    <div class="card-body">
                        No Data
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="col-9 table-height" *ngIf="contactsArray.length > 0">
            <table class="table table-striped table-bordered">
                <thead class="table-header">
                    <tr>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Contact Email</th>
                        <th scope="col">Contact Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of contactsArray">
                        <td class="hand-cursor">
                            {{contact.name}}</td>
                        <td class="hand-cursor">
                            {{contact.email}}</td>
                        <td class="hand-cursor">
                            {{contact.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detailed Header Analysis</h5>
                <div>
                    <button type="button" class="btn btn-outline-success ms-5"
                        title="Click to view extracted contents separately" (click)="isShowSignalView=false"
                        [ngClass]="!isShowSignalView ? 'active' : ''">Content view</button>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-success ms-5"
                        title="Click to view extracted contents in paragraph form" (click)="isShowSignalView=true"
                        [ngClass]="isShowSignalView ? 'active' : ''">Signal view</button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body header-analysis-body">
                <div>
                    <div *ngIf="!isShowSignalView">
                        <div class="row px-2">
                            <div class="card header-analysis-card">
                                <div class="card-header">
                                    <div class="col-12">
                                        <label class="fw-bold">Message ID :</label>
                                        <span class="ps-2">{{parsedHeaders['Message-Id']}}</span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="card from-to-card mt-2">
                                            <div class="card-body">
                                                <div class="col-12">
                                                    <label class="fw-bold">From:</label>
                                                    <span class="ps-2">{{modalData.sender_email ? modalData.sender_email
                                                        : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">To:</label>
                                                    <span class="ps-2">{{recipientEmail ? recipientEmail : '--No
                                                        data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Cc:</label>
                                                    <span class="ps-2">{{modalData.cc ? modalData.cc : '--No
                                                        data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Bcc:</label>
                                                    <span class="ps-2">{{modalData.bcc ? modalData.bcc : '--No
                                                        data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Subject:</label>
                                                    <span class="ps-2">{{modalData?.message_delivery_data?.subject ?
                                                        modalData?.message_delivery_data?.subject : '--No
                                                        data--'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card ip-domain-card mt-2">
                                            <div class="card-body">
                                                <div class="col-12">
                                                    <label class="fw-bold">Sent date and time :</label>
                                                    <span class="ps-2">{{modalData.client_submit_time ?
                                                        modalData.client_submit_time : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Received date and time:</label>
                                                    <span class="ps-2">{{receivedList[0]?.dateAndTime ?
                                                        receivedList[0]?.dateAndTime : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Sender IP:</label>
                                                    <span class="ps-2">{{receivedList[0]?.senderIP ?
                                                        receivedList[0]?.senderIP : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Sender Domain:</label>
                                                    <span class="ps-2">{{receivedList[0]?.senderDomain ?
                                                        receivedList[0]?.senderDomain : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Receiver Desktop:</label>
                                                    <span class="ps-2">{{modalData.receiver_ip_address ?
                                                        modalData.receiver_ip_address : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Receiver Server:</label>
                                                    <span class="ps-2">{{receivedList[0]?.receivingServer ?
                                                        receivedList[0]?.receivingServer : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Receiver Domain:</label>
                                                    <span class="ps-2">{{receivedList[0]?.receiverDomain ?
                                                        receivedList[0]?.receiverDomain : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Sender Address Type :</label>
                                                    <span class="ps-2">{{modalData.sender_address_type ?
                                                        modalData.sender_address_type : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Sender SMTP Address:</label>
                                                    <span class="ps-2">{{modalData.sender_smtp_address ?
                                                        modalData.sender_smtp_address : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Encryption Type:</label>
                                                    <span class="ps-2">{{encryptionStatus ? encryptionStatus : '--No
                                                        data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Authenticated bits:</label>
                                                    <span class="ps-2">{{authenticatedBits}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Authentication Status:</label>
                                                    <span class="ps-2">{{isAuthenticated}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 px-0 mt-2">
                                            <div class="card signature-card">
                                                <div class="card-body">
                                                    <label class="fw-bold">Servers involved =></label>
                                                    <div class="ms-4" *ngFor="let server of serversList">
                                                        <label class="fw-bold">Server Name:</label><span
                                                            class="ms-2">{{server.serverName ? server.serverName :
                                                            '--No data--'}}</span>
                                                        <label class="fw-bold ms-3">IP Address:</label><span
                                                            class="ms-2">{{server.ipAddress ? server.ipAddress
                                                            : '--No data--'}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card server-card mt-2">
                                            <div class="card-body">
                                                <div class="col-12">
                                                    <label class="fw-bold">Signature :</label>
                                                    <span class="ps-2">{{headerData.signature ? headerData.signature :
                                                        '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">File Format :</label>
                                                    <span class="ps-2">{{headerData.file_format ? headerData.file_format
                                                        : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Modification Time :</label>
                                                    <span
                                                        class="ps-2">{{convertToDateObject(headerData.modification_time)}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Version :</label>
                                                    <span class="ps-2">{{headerData.version ? headerData.version : '--No
                                                        data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">EmailClient Name:</label>
                                                    <span class="ps-2">{{modalData.sender_name ? modalData.sender_name :
                                                        '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">Conversation Topic :</label>
                                                    <span class="ps-2">{{modalData.conversation_topic ?
                                                        modalData.conversation_topic : '--No data--'}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold">ESMTP ID:</label>
                                                    <span class="ps-2">{{receivedList[0]?.id ? receivedList[0]?.id :
                                                        receivedList[0]?.id}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card img-attach-card mt-2">
                                            <div class="card-body">
                                                <div class="col-12">
                                                    <label class="fw-bold">Images/Attachments:</label>
                                                    <div *ngIf="imagesArray.length > 0;else noImages">
                                                        <span *ngFor="let image of imagesArray"
                                                            class="ps-2">{{image}}</span>
                                                    </div>
                                                    <ng-template #noImages>
                                                        <span class="ps-2">{{'--No data--'}}</span>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="card message-body-card">
                                <div class="card-body">
                                    <div class="row">
                                        <label class="fs-4 fw-bolder">Message Body :</label>
                                        <span class="ps-2" [innerHTML]="modalData.body"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="isShowSignalView">
                        <div class="row mx-0" *ngIf="parsedHeaderStringArray.length > 0">
                            <div class="card signal-view-card">
                                <div class="card-body px-0">
                                    <div *ngFor="let signal of parsedHeaderStringArray;let index=index">
                                        <div>
                                            <span>{{signal}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
